
    <div class="row">
      <div class="col-lg-6 col-xl-5 col-md-6 mx-auto">
        <div class=" card">
            <h1 style="color: #fff;"> Welcome To Loginsystem</h1>
            <hr>
            <button class="btn btn btn-warning" (click)="logout()">
              Logout
            </button>
          </div>
        </div>
       
      
      