
.card{
    top:50%;
    margin-top: 300px;
    width: 600px;
    padding: 60px;
    position: absolute;
    background: hsla(205, 46%, 30%, 1);
    background: linear-gradient(90deg ,hsla(205, 46%, 30%, 1) 0%,hsla(260, 29%, 36%, 1) 100%);
}




  