<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <h1 class="navbar-brand" >Loginsystem</h1>
    <button class="navbar-toggler"
           type="button"
           data-toggle="collapse"
           data-target="#navbarNavAltMarkup" 
           aria-controls="navbarNavAltMarkup" 
           aria-expanded="false"
           aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      
      <ul class="navbar-nav">
        
      <li class="nav-item"><a class="nav-link" routerLink="about">Dashboard</a></li>

      <li class="nav-item"><a class="nav-link" routerLink="registration">Registration</a> </li>
   
      <li class="nav-item"><a class="nav-link" routerLink="login">Login</a></li>


      </ul>
    </div>
  </nav>
<div class="container-fluid">

    <router-outlet></router-outlet>
    
</div>
