

<form [formGroup]="loginForm" (ngSubmit)="login()" >
    <div class="row">
      <div class="col-lg-6 col-xl-5 col-md-6 mx-auto">
        <div class="card mt-4">
          <div class="card-header text-center">
            <h1 style="color: #fff;">Login</h1>
          </div>

          <div class="card-body" style="margin-top: 50px;"> 
            <div class="form-group form-row">
              <label for="UserName" class="col-md-4 col-form-label" >Username</label>
              <div class="col-md-8">
                <input formControlName="email" type="email" class="form-control" placeholder="Email Address"  name="UserName" autofocus="autofocus">
               <span class="text-danger" *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')">Username is required</span>
              </div>
            </div>
  

            <div class="form-group form-row" style="margin-top: 50px;">
              <label for="Password" class="col-md-4 col-form-label" >Password</label>
              <div class="col-md-8">
                <input formControlName="password" type="password" class="form-control" placeholder="Password"  name="Password" >
                <span class="text-danger" *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">Password is required</span>
              </div>
            </div>
            </div>
          <div class="card-footer text-center">
            <span class="text-danger"></span>
            <button  type="submit" [disabled]="!loginForm.valid" class="btn btn-success float-right" style="width: 1.5in; height: 0.5in;">Sign in</button>
         
       <a class="link" href="registration"> New User? Click To Registration!!</a>
          </div>
        </div>
      </div>
    </div>
    
</form>
