<div class="card-header;  col-md-9 col-xl-4 mx-auto "></div>
<div class="row">
  <div class="col-lg-6 col-xl-5 col-md-9 mx-auto">
  
      <form [formGroup]="RegistrationForm" (ngSubmit)="registration()">
      
      <div class="card mt-1">
        <div class="card-header text-center">
          <h1 style="color: #fff;" >Registration</h1>
        </div>
     <div class="card-body" style="margin-top: 15px;">
          <div class="form-group form-row" formGroupName="personName">
            <label for="firstName" class="col-md-4 col-form-label">First Name:</label>
            <div class="col-md-8">
              <input type="text" name="firstName" id="firstName" placeholder="First Name" class="form-control" formControlName="firstName" [ngClass]="{
                'is-invalid': RegistrationForm.get('personName.firstName').invalid && (RegistrationForm.get('personName.firstName').dirty || RegistrationForm.get('personName.firstName').touched || RegistrationForm.submitted),

                'is-valid': RegistrationForm.get('personName.firstName').valid && (RegistrationForm.get('personName.firstName').dirty || RegistrationForm.get('personName.firstName').touched || RegistrationForm.submitted) }">

                <span class="text-danger" *ngIf="RegistrationForm.get('personName.firstName').invalid && (RegistrationForm.get('personName.firstName').dirty || RegistrationForm.get('personName.firstName').touched || RegistrationForm.submitted) && RegistrationForm.get('personName.firstName').errors?.required">First name is required</span>

              <span class="text-danger" *ngIf="RegistrationForm.get('personName.firstName').invalid && (RegistrationForm.get('personName.firstName').dirty || RegistrationForm.get('personName.firstName').touched || RegistrationForm.submitted) && RegistrationForm.get('personName.firstName').errors?.minlength">First name should contain at least 2 characters</span>
            
            </div>
          </div>

          <div class="form-group form-row" formGroupName="personName">
            <label for="lastName" class="col-md-4 col-form-label">Last Name:</label>
            <div class="col-md-8">
              <input type="text" name="lastName" id="lastName" placeholder="Last Name" class="form-control" formControlName="lastName" [ngClass]="{
                'is-invalid': RegistrationForm.get('personName.lastName').invalid && (RegistrationForm.get('personName.lastName').dirty || RegistrationForm.get('personName.lastName').touched || RegistrationForm.submitted),

                'is-valid': RegistrationForm.get('personName.lastName').valid && (RegistrationForm.get('personName.lastName').dirty || RegistrationForm.get('personName.lastName').touched || RegistrationForm.submitted) }">
           
                <span class="text-danger" *ngIf="RegistrationForm.get('personName.lastName').invalid && (RegistrationForm.get('personName.lastName').dirty || RegistrationForm.get('personName.lastName').touched || RegistrationForm.submitted) && RegistrationForm.get('personName.lastName').errors?.required">Last name is required</span>

                <span class="text-danger" *ngIf="RegistrationForm.get('personName.lastName').invalid && (RegistrationForm.get('personName.lastName').dirty || RegistrationForm.get('personName.lastName').touched || RegistrationForm.submitted) && RegistrationForm.get('personName.lastName').errors?.minlength">Last name should contain at least 2 characters</span>
           
              </div>
          </div>

          <div class="form-group form-row">
            <label for="email" class="col-md-4 col-form-label">Email:</label>
            <div class="col-md-8">
              <input type="email" name="email" id="email" placeholder="Email" class="form-control" formControlName="email" [ngClass]="{
                'is-invalid': RegistrationForm.get('email').invalid && (RegistrationForm.get('email').dirty || RegistrationForm.get('email').touched || RegistrationForm.submitted),

                'is-valid': RegistrationForm.get('email').valid && (RegistrationForm.get('email').dirty || RegistrationForm.get('email').touched || RegistrationForm.submitted) }">

                <span class="text-danger" *ngIf="RegistrationForm.get('email').invalid && (RegistrationForm.get('email').dirty || RegistrationForm.get('email').touched || RegistrationForm.submitted) && RegistrationForm.get('email').errors?.required">Email is required</span>

                <span class="text-danger" *ngIf="RegistrationForm.get('email').invalid && (RegistrationForm.get('email').dirty || RegistrationForm.get('email').touched || RegistrationForm.submitted) && RegistrationForm.get('email').errors?.email">Email is invalid</span>
            </div>
          </div>

          <div class="form-group form-row">
            <label for="mobile" class="col-md-4 col-form-label">Mobile Number:</label>
            <div class="col-md-8">
              <input type="number" name="mobile" id="mobile" placeholder="Mobile" class="form-control" formControlName="mobile" [ngClass]="{
                'is-invalid':RegistrationForm.get('mobile').invalid && ( RegistrationForm.get('mobile').dirty ||  RegistrationForm.get('mobile').touched ||  RegistrationForm.submitted),

                'is-valid':RegistrationForm.get('mobile').valid && ( RegistrationForm.get('mobile').dirty ||  RegistrationForm.get('mobile').touched ||  RegistrationForm.submitted) }">
               
                <span class="text-danger" *ngIf="RegistrationForm.get('mobile').invalid && (RegistrationForm.get('mobile').dirty || RegistrationForm.get('mobile').touched || RegistrationForm.submitted) && RegistrationForm.get('mobile').errors?.required">Mobile number is required</span>

                <span class="text-danger" *ngIf="RegistrationForm.get('mobile').invalid && (RegistrationForm.get('mobile').dirty || RegistrationForm.get('mobile').touched || RegistrationForm.submitted) && RegistrationForm.get('mobile').errors?.pattern">Mobile is invalid</span>
              </div>
          </div>

          <div class="form-group form-row">
            <label for="dateOfBirth" class="col-md-4 col-form-label">Date of Birth:</label>
            <div class="col-md-8">
              <input type="date" name="dateOfBirth" id="dateOfBirth" placeholder="Date of Birth" class="form-control" formControlName="dateOfBirth" [ngClass]="{
                'is-invalid':RegistrationForm.get('dateOfBirth').invalid && (RegistrationForm.get('dateOfBirth').dirty ||RegistrationForm.get('dateOfBirth').touched || RegistrationForm.submitted),

                'is-valid':RegistrationForm.get('dateOfBirth').valid && (RegistrationForm.get('dateOfBirth').dirty || RegistrationForm.get('dateOfBirth').touched || RegistrationForm.submitted) }">
            
                <span class="text-danger" *ngIf="RegistrationForm.get('dateOfBirth').invalid && (RegistrationForm.get('dateOfBirth').dirty || RegistrationForm.get('dateOfBirth').touched || RegistrationForm.submitted) && RegistrationForm.get('dateOfBirth').errors?.required">Date of Birth is required</span>
            
                <span class="text-danger" *ngIf="RegistrationForm.get('dateOfBirth').invalid && (RegistrationForm.get('dateOfBirth').dirty || RegistrationForm.get('dateOfBirth').touched || RegistrationForm.submitted) && RegistrationForm.get('dateOfBirth').errors?.minAge">Minimum Age must be 18</span>
              </div>
          </div>

          <div class="form-group form-row">
            <label class="col-md-4 col-form-label">Gender:</label>
            <div class="col-md-8">
              <div class="form-check-label form-check-inline" *ngFor="let gender of genders">
                <input type="radio" name="gender" [id]="gender" [value]="gender" class="form-check-input" formControlName="gender" [ngClass]="{
                  'is-invalid': RegistrationForm.get('gender').invalid && (RegistrationForm.get('gender').dirty || RegistrationForm.get('gender').touched || RegistrationForm.submitted),
  
                  'is-valid': RegistrationForm.get('gender').valid && (RegistrationForm.get('gender').dirty || RegistrationForm.get('gender').touched || RegistrationForm.submitted) }">
                <label [for]="gender" class="form-check-label">{{gender}}</label>
              </div>
              <span class="text-danger" *ngIf="RegistrationForm.get('gender').invalid && (RegistrationForm.get('gender').dirty || RegistrationForm.get('gender').touched || RegistrationForm.submitted) && RegistrationForm.get('gender').errors?.required">Please select gender</span>
            </div>
          </div>

          <div class="form-group form-row">
            <label for="countryID" class="col-md-4 col-form-label">Nationality:</label>
            <div class="col-md-8">
              <select name="countryID" id="countryID" class="form-control" formControlName="countryID"  [ngClass]="{
                'is-invalid': RegistrationForm.get('countryID').invalid && (RegistrationForm.get('countryID').dirty || RegistrationForm.get('countryID').touched || RegistrationForm.submitted),

                'is-valid': RegistrationForm.get('countryID').valid && (RegistrationForm.get('countryID').dirty || RegistrationForm.get('countryID').touched || RegistrationForm.submitted) }">
                <option value="null">Please Select</option>
                <option *ngFor="let country of countries" [value]="country.countryID">
                  {{country.countryName}}
                </option>
              </select>
              <span class="text-danger" *ngIf="RegistrationForm.get('countryID').invalid && (RegistrationForm.get('countryID').dirty || RegistrationForm.get('countryID').touched || RegistrationForm.submitted) && RegistrationForm.get('countryID').errors?.required"> Please select nationality </span>
            </div>
          </div>


          <div class="form-group form-row">
            <label for="password" class="col-md-4 col-form-label">Password:</label>
            <div class="col-md-8">
              <input type="password" name="password" id="password" placeholder="Password" class="form-control" formControlName="password" [ngClass]="{
                'is-invalid': RegistrationForm.get('password').invalid && (RegistrationForm.get('password').dirty || RegistrationForm.get('password').touched || RegistrationForm.submitted),

                'is-valid': RegistrationForm.get('password').valid && (RegistrationForm.get('password').dirty || RegistrationForm.get('password').touched || RegistrationForm.submitted) }">

              <span class="text-danger" *ngIf="RegistrationForm.get('password').invalid && (RegistrationForm.get('password').dirty || RegistrationForm.get('password').touched || RegistrationForm.submitted) && RegistrationForm.get('password').errors?.required">Password is required</span>
            </div>
          </div>

          <div class="form-group form-row">
            <label for="confirmPassword" class="col-md-4 col-form-label"> Confirm Password:</label>
            <div class="col-md-8">
              <input type="Password" name="confirmPassword" id="confirmPassword" placeholder="confirmPassword" class="form-control" formControlName="confirmPassword" [ngClass]="{
                'is-invalid': RegistrationForm.get('confirmPassword').invalid && (RegistrationForm.get('confirmPassword').dirty || RegistrationForm.get('confirmPassword').touched || RegistrationForm.submitted),

                'is-valid': RegistrationForm.get('confirmPassword').valid && (RegistrationForm.get('confirmPassword').dirty || RegistrationForm.get('confirmPassword').touched || RegistrationForm.submitted) }">

              <span class="text-danger" *ngIf="RegistrationForm.get('confirmPassword').invalid && (RegistrationForm.get('confirmPassword').dirty || RegistrationForm.get('confirmPassword').touched || RegistrationForm.submitted) && RegistrationForm.get('confirmPassword').errors?.required">Password and Confirm Password do not match</span>
            </div>
          </div>
        </div> 

        <div class="card-footer">
          <button type="submit" [disabled]="!RegistrationForm.valid" class="btn btn-success float-right">Create Account</button>
       
          <a  class="link" href="login"> Already Registration? Click To Login!!</a>
         

        </div>
      </div>
    </form> 
  </div>
</div>
